:root {
    //bg-colors
    --main-bg: #5098c9;
    --header-bg: #274479;
    --btn-bg: #fdc220;
    --btn-hover: #b38813;
    --spinner-bg: #84d9ee;
    
    //text-colors
    --main-text: #ffffff;
    --header-text: #fff;
    --header-logo: #fff;
    --input-text: #163f7c;
    //shadows
    --shadow: 0 10px 10px 1px rgba(0,0,0,.1);

    //height
    --header-height: 50px;

    //radius
    --radius: 10px

}